body {
    font-family: sans-serif;
    background-color: #002d1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    padding: 92px;
    background: #e8fff8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 90, 74, 0.2);
}

#taskInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    line-height: 1.5;
    font-size: 3.2rem;   
    color: #005e4e;
    letter-spacing: 0.8px;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 55, 43, 0.3);
}

input {
    width: 100%;
    padding: 10px;     
    font-size: 1rem;    
    border: 1px solid #005a4a;  
    border-radius: 5px;
}

input:focus {
    outline: none;                
    border-color: #007961;        
    box-shadow: 0 0 5px #00efab;  
}

::placeholder {
    color: rgba(143, 192, 166, 0.8);
}

button {
    padding: 12px 92px;           
    font-size: 1.2rem;         
    color: white;       
    background-color: #006c5d;  
    border: 1px;           
    border-radius: 5px;   
    cursor: pointer;
}

button:hover {
    background-color: #006455;   /* Darker shade on hover */
}

button:active {
    background-color: #00594c;   /* Even darker shade when clicked */
    transform: scale(0.98);      /* Slightly reduces size when clicked */
}
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #b8e7d4;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: monospace;
}
